@using Yan.MvcClient.Clients;
@model ArticleListDto

<div style="margin-bottom:20px;padding-left:0px;">
    <div class="articleInfo-header">
        <h2><a asp-controller="Home" asp-action="Article" asp-route-id="@Model.Id">@Model.Title</a></h2>
        <div>
            <button type="button" class="btn btn-default btn-sm" style="border:0px;" >@Model.CategoryName</button>
            <span> 阅读：(@Model.ReadCount) · 点赞：(@Model.LikeCount）</span>
        </div>
        
    </div>
    <div class="articleInfo-content">
        <p>@Model.Remark</p>
    </div>
    <div>
        <a class="btn btn-danger" asp-controller="Home" asp-action="Article" asp-route-id="@Model.Id">阅读全文</a>
    </div>
</div>

<style>
    .articleInfo-header{
        margin-bottom:1em
    }
    .articleInfo-header h2 {
        font-size: 1.45em;
        line-height: 2em;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 500;
    }

    .articleInfo-header a:hover {
        cursor:pointer;
    }

    .articleInfo-content p {

        font-size: 1em;
        line-height: 1.8em;
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: "微软雅黑","黑体","Consolas";
    }
</style>