
@model List<Yan.AdminUI2.Models.ElMenu>

<el-menu :default-active="defaultActive"
         background-color="#304156"
         text-color="#bfcbd9"
         active-text-color="#409EFF"
         @*style="height: 100%;"*@
         :collapse-transition="false"
         :collapse="isCollapse"
         :unique-opened="true"
         mode="vertical"
         style="border: 0px"
         ref="menu">
    @foreach (var item in Model)
    {
        @if (item.path.Contains("/") && item.parentId == "0")
        {
            <el-menu-item index="@item.name" @@click="addTab('@item.title','@item.path','@item.name')" >
                <i class="@item.icon"></i>
                <span slot="title">@item.title</span>
            </el-menu-item>
        }
        else if (item.parentId == "0")
        {
            <el-submenu index="@item.name">
                @await Component.InvokeAsync("SubMenuList", new {subMenu = item, menus = Model })
            </el-submenu>
        }
    }
</el-menu>